.dot-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}

li:hover .dot-icon {
  opacity: 1;
}

.no-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}
