.dot-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}

li:hover .dot-icon {
  opacity: 1;
}

.no-select {
  min-width: 100%;
  max-width: 100%;
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.task-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

.task-title {
  max-width: calc(100% - 3rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Edit Column Dialog Styles */
.edit-column-form {
  .form-group {
    label {
      color: var(--text-color);
    }
  }
}

.add-button {
  align-self: flex-start;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.add-button button {
  opacity: 0;
  pointer-events: none;
}

.add-button:hover button {
  opacity: 1;
  pointer-events: auto;
}

.no-select .options-area {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.no-select:hover .options-area {
  opacity: 1;
  pointer-events: auto;
}
