<div class="flex flex-row align-items-center gap-2 w-fit h-auto mt-3 mb-3 border-round-md">
  @for (col of columns; track col.id) {
  <div style="height: 80vh" class="flex flex-column pb-3 bg-color-custom w-22rem border-round-md border-1 border-gray-500" pDroppable (onDrop)="drop(col.id)">
    <div class="flex flex-row mb-3 px-3 my-4 align-items-center justify-content-between no-select">
      <div class="flex flex-row gap-2 align-items-center justify-content-center">
        <i [ngClass]="'pi ' + col.icon " [ngStyle]="{ 'font-size': '1.5rem', 'color': col.iconColor }"></i>
        <div class="column-icon">{{col.title}}</div>
      </div>
      <i class="pi pi-pencil text-primary-400 cursor-pointer" style="font-size: 0.75rem"></i>
    </div>
    @if (tasks.length) {
    <ul class="list-none flex flex-column gap-2 p-0 m-0 pb-4 overflow-y-auto align-items-start">
      @for (task of tasks; track $index) { @if(task.columnId === col.id){
      <li class="p-2 mx-3 mb-2 border-round-md border-1 border-gray-500 text-center cursor-pointer flex align-items-center" style="position: relative; height: 100px; min-height: 100px; max-height: 100px; width: 19rem; min-width: 19rem; max-width: 19rem" pDraggable (click)="showTaskDrawer(task)" (onDragStart)="dragStart(task, col.id)" (onDragEnd)="dragEnd()">
        <div class="flex flex-column align-items-start justify-content-start">
          <!-- <div>level</div> -->
          <span>{{ task.name }}</span>
          <!-- <div class="label-area flex">
            <div class="label">label 1</div>
            <div class="label">label 2</div>
          </div> -->
        </div>
        <i class="dot-icon pi pi-trash text-primary-400 cursor-pointer" style="font-size: 1rem; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%)" (click)="deleteTask($event,task.id)"></i>
      </li>
      } }
    </ul>
    }
  </div>
  }

  <p-confirmDialog></p-confirmDialog>
</div>
