<div class="flex flex-row align-items-center gap-3 w-fit h-auto mt-3 border-round-md">
  <div class="bg-color-custom w-16rem h-20rem border-round-md" pDroppable (onDrop)="drop('start')">
    <ul class="list-none flex flex-col gap-2 p-0 m-0">
      <li *ngFor="let product of availableProducts" class="p-2 rounded-border" pDraggable (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">{{product.name}}</li>
    </ul>
  </div>
  <div class="bg-color-custom w-16rem h-20rem border-round-md" pDroppable (onDrop)="drop('mid')">
    <ul class="list-none flex flex-col gap-2 p-0 m-0" *ngIf="selectedProducts">
      <li *ngFor="let product of selectedProducts" pDraggable (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()" class="p-2 rounded-border">{{product.name}}</li>
    </ul>
  </div>
  <div class="bg-color-custom w-16rem h-20rem border-round-md" pDroppable (onDrop)="drop('finish')">
    <ul class="list-none flex flex-col gap-2 p-0 m-0" *ngIf="boughtProducts">
      <li *ngFor="let product of boughtProducts" pDraggable (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()" class="p-2 rounded-border">{{product.name}}</li>
    </ul>
  </div>
</div>
